body {
    background-image: url("image/img1.jpg");
    width: 100%;
}

div.first {
   position:absolute;
   margin: 150px 150px;
   background: rgba(244, 252, 244, 0.6);
   padding: 20px 30px;
  
  }
.content{
   
}

.login{
      float: left;
      text-decoration: none;
      background: rgba(24, 255, 3, 0.6);
      padding: 10px 20px;
      border-radius: 40%;
      font-size: 20px;
      color: white;
      break-after: auto;
     
  }
  .login:hover{
      opacity: 0.6;
      box-shadow: 1px 1px #888888;
      
  }
  .SignUp:hover{
    opacity: 0.6;
    box-shadow: 1px 1px #888888;
}
  .SignUp{
    float: left;
    text-decoration: none;
    background: rgba(255, 17, 0, 0.658);
    padding: 10px 20px;
    border-radius: 40%;
    font-size: 20px;
    break-after: auto;
    margin-left: 10px;
    color: white;
  }
